<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/signin.css">
	<script src="__JS__/jquery-2.1.1.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
	<title>登录</title>
</head>
<body>
	<div class="container">
      <form class="form-signin" role="form" method="post" action="__URL__/login">
        <h2 class="form-signin-heading">后台登录</h2>
        <input type="text" class="form-control" name="username" placeholder="用户名" required autofocus>
        <input type="password" class="form-control" name="password" placeholder="密码" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div>
</body>
</html>