html,body{padding:0;margin:0;}

#page{}
#page nav{display:none;}
header{background:#999;color:#fff;text-align:center;line-height:40px;height:40px;position:relative;}
header .l_tbn{position:absolute;left:0;top:0;width:40px;height:40px;border-right:1px #AFAFAF solid;}
header .l_tbn a{display:block;width:40px;height:40px;overflow:hidden;color:#fff;text-decoration:none;}
header .l_tbn a:hover{color:#fff;}
.content{padding:10px;}
