<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" href="__CSS__/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" href="__CSS__/theme.css">
<link rel="stylesheet" href="__CSS__/base_resturant.css">
</head>
<body>

<div data-url="demo-page" data-role="page" data-theme="b" id="demo-page" class="my-page">
    <div data-role="header">
        <h1>餐厅列表</h1>
        <a href="./index.html" data-shadow="false" data-iconshadow="false" data-icon="carat-l" data-iconpos="notext" data-rel="back" data-ajax="false">Back</a>
    </div><!-- /header -->
    <div role="main" class="ui-content">
        <ul data-role="listview" data-inset="true">
            <block name="reslist"></block>
        </ul>
    </div><!-- /content -->
</div>
<script src="__JS__/jquery-2.1.1.min.js"></script>
<script src="__JS__/jquery.mobile-1.4.5.min.js"></script>
<script src="__JS__/base.js"></script>
</body>
</html>