<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" href="__CSS__/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" href="__CSS__/theme.css">
</head>
<body>


<div data-role="page">
  <div data-role="header" id="header" data-theme="b" data-position="fixed">
    <a role="button" data-role="button" href="#" data-rel="back" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all"></a>

    <h1>活动资讯</h1>
    <a role="button" data-role="button" href="#" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-notext ui-icon-home"></a>

  </div>
	
<ul data-role="listview">
　<li>
　　 <h3>最新资讯2</h3>
　 　<p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
　　 <p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the Jquery team.</p>
　　 <p class="ui-li-aside"><strong>10/9/2014</strong></p>
　 </li>
　 <li>
　　 <h3>最新资讯1</h3>
　　 <p><strong>Boston Conference Planning</strong></p>
　　 <p>In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.</p>
　　 <p class="ui-li-aside"><strong>10/8/2014</strong></p>
　 </li>
</ul>


  <div data-role="footer" id="footer">
    <h1>©景点名字</h1>
  </div>
</div>
<script src="__JS__/jquery-2.1.1.min.js"></script>
<script src="__JS__/jquery.mobile-1.4.5.min.js"></script>
<script src="__JS__/base.js"></script>
</body>
</html>