<extend name="Public:base_hotel_info"/>
<block name="room_name">{$room_name}</block>
<block name="room_price">{$room_price}</block>
<block name="room_more">{$room_more}</block>
<block name="room_cover">{$room_cover}</block>
<block name="breakfast">{$room_detail[0]}</block>
<block name="wifi">{$room_detail[1]}</block>
<block name="computer">{$room_detail[2]}</block>
<block name="canlive">{$room_detail[3]}</block>
<block name="square">{$room_detail[4]}</block>
<block name="floor">{$room_detail[5]}</block>
<block name="window">{$room_detail[6]}</block>
<block name="bath">{$room_detail[7]}</block>
<block name="bed">{$room_detail[8]}</block>
<block name="img_cover"><img src="__IMG__/{$room_cover}.jpg" style="width:100%;height:100%;"></block>