<!DOCTYPE html>
<html lang="en" manifest="__PUBLIC__/tetris.php">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/templatemo_style.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/layout.css">
    <script src="__JS__/jquery-2.1.1.min.js"></script>
    <script src="__JS__/jquery.mmenu.min.js"></script>
    <style>a[href="#menu"]{line-height: 2;}#mm-0{margin-top: 15px;}</style>
<script type="text/javascript">
    $(function() {
        $('nav#menu').mmenu();
    });

</script>
<link href="__CSS__/style.css" rel="stylesheet" type="text/css">
<link href="__CSS__/jquery.mmenu.css" rel="stylesheet" type="text/css">
    <title>主页</title>
</head>

<body>


        <div class="logocontainer">
        <div class="row">
            <h1 id="title"><a href="#">珠海景点</a></h1>
            <a id="hamburger" class="mm-fixed-top" href="#menu" style="-webkit-transform: none; transform: none;"><span></span></a>
            <div class="clear"></div>
            <div class="templatemo_smalltitle">zhjd.com</div>
       </div>
    </div>

    <nav id="menu">
        <ul>
            <li class="Selected"><a href="{:U('Index/index')}">主页</a></li>
            <li><a href="__PUBLIC__/search.html">搜索</a></li>
            <li><a href="__PUBLIC__/about.html">关于</a></li>
            <li><a href="__PUBLIC__/contact.html">联系</a></li>
        </ul>
    </nav>
    <div class="content homepage" id="menu-1">
    <div class="container">
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
                <div class=" templatemo_mainabout templatemo_topgap" style="background-color:#999933;margin-bottom:15px;">
                    <div class="templatemo_link"><a class="show-2 templatemo_page2" href="http://hqw.zhjd.com">海泉湾</a></div>
                </div>
                <div class="hidden-xs templatemo_mainimg"><img src="__IMG__/hqw_index.jpg" alt="home img 01"></div>
            </div>

            <div class="col-md-3 col-sm-6 templatemo_leftgap">
                <div class="hidden-xs templatemo_mainimg templatemo_botgap templatemo_portfotopgap"><img src="__IMG__/hywg_index.jpg" alt="home img 02"></div>
                <div class="templatemo_mainportfolio">
                      <div class="templatemo_link"><a class="show-3 templatemo_page3" href="http://clhywg.zhjd.com">长隆海洋王国</a></div>
                </div>

            </div>

            <div class="col-md-3 col-sm-6 templatemo_leftgap">
                <div class="templatemo_maintesti templatemo_botgap templatemo_topgap">
                    <div class="templatemo_link"><a class="show-4 templatemo_page4" href="http://sjsgy.zhjd.com">石景山公园</a></div>
                </div>
                <div class="hidden-xs templatemo_mainimg"><img src="__IMG__/ymxy_index.jpg" alt="home img 03"></div>
            </div>

            <div class="col-md-3 col-sm-6 templatemo_leftgap">
                <div class="hidden-xs templatemo_mainimg templatemo_botgap templatemo_topgap">
                   <img src="__IMG__/sjsgy_index.jpg" alt="home img 04">
                </div>
                <div class="templatemo_mainabout templatemo_botgap">
                    <div class="templatemo_link"><a class="show-5 templatemo_page5" href="http://hyly.zhjd.com">海洋乐园</a></div>
                </div>
                <div class="templatemo_maincontact">
                    <div class="templatemo_link"><a class="show-6 templatemo_page6" href="http://ymxy.zhjd.com">圆明新园</a></div>
                </div>
            </div>
    </div>

    <div class="logocontainer">
        <div class="row">
            <div class="templatemo_footer">Copyright © 2084 Company Name </div>
       </div>
    </div>

</div>
</body>
</html>
